* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #141414;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #1f1f1f;
  width: 320px;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

.avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  margin-bottom: 20px;
  
}

h1 {
  color: white;
  font-size: 22px;
  margin-bottom: 5px;
}

h3 {
  color: #c4f82a;
  font-size: 14px;
  margin-bottom: 20px;
}

p {
  color: #ccc;
  font-size: 14px;
  margin-bottom: 20px;
}

.buttons a {
  display: block;
  background-color: #333;
  color: white;
  text-decoration: none;
  padding: 12px;
  margin-bottom: 12px;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
}

.buttons a:hover {
  background-color: #c4f82a;
  color: black;
}
